.matches {
  width: 100%;
}

h1 {
  margin-left: 10%;
  margin-right: auto;
  overflow-wrap: normal;
  font-family: Arial, Helvetica, sans-serif, "sans serif";
}

@media only screen and (max-width: 320px) {
  h1 {
    margin-left: 2%;
    font-size: 1em;
  }
}

@media only screen and (min-width: 321px) and (max-width: 719px) {
  h1 {
    font-size: 1em;
  }
}