.match-tile {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: auto;
  padding-bottom: 5%;
  padding-top: 5%;
  font-family: Arial, Helvetica, sans-serif, "sans serif";
}

.teams-and-scores {
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif, "sans serif";
}

@media only screen and (max-width: 320px) {
  .match-tile {
    margin-left: 2%;
    font-size: 12px;
  }
}

/* 320 to 750 */