.main-page {
  background-image: url("../images/GrassBackground.png");
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  display: grid;
  /* 
    create a media query for below, large screens, 750 min, smaller on smaller screens, so that 
    when screen size is reduced, the border strips disapear first
  */
  grid-template-columns: minmax(0px, 200px) minmax(750px, auto) minmax(0px, 200px);
  grid-template-rows: 1fr 9fr;
  text-align: center;
} 

@media only screen and (max-width: 750px) {
  .main-page {
    grid-template-columns: minmax(0px, 0px) minmax(300px, 750px) minmax(0px, 0px);
  }
}