.centre-div {
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  grid-column: 2;
  display: grid;
  justify-items: center;
  text-align: left;
  overflow: scroll;
  width: 100%;
}