table {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  border-collapse: collapse;
  width: 70%;
}

tbody {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}