.table-link {
  color: blueviolet;
}

.link-div {
  height: 100%;
  width: 33%;
  border: 1px solid red;
}

.nav {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}