/* body and html set to 100% to avoid limiting children */

body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.app {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;

}