/* page wasn't taking up full screen so added height 100% to body and html */
body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./images/GrassBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}